.blue-tittle{
    color: #003662;
    font-size: 28px;
}

.grey-tittle{
    color: #858585;
    font-size: 20px;
}

.spam-pink{
    color: #E5137E;
}

.img-personal{
    width: 118px;
}

.img-juridica{
    width: 155px;
}

.btn-inicio{
    width: 160px;
    height: 48px;
}